body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header{
    display: flex;
    flex-direction: column;
}

/*Below is header's navigation bar */

.headertop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.headertop,.maincontent{
    background-color: #1f2937;
    color: #F9FAF8;
}

.logo, a{
    color: #F9FAF8;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

#headerlogoimg{
    width: auto;
    height: 40px;
    border-radius: 100px;
}

ul{
    gap: 10px;
    list-style: none;
    display: flex;
}

/*Below is header main content */

.maincontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 50px 100px;
}

button{
    padding: 10px 20px;
    background-color: #24A0ED;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Below is the header main content's image */

.maincontimg, .mainconttext{
    flex: 1;
}

.maincontimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgplaceholder{
    padding: 50px;
}

/*Below is the header main content's text */

.mainconttext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nameofwebsite{
    font-size: 48px;
}

#firstpara{
    font-size: 18px;
}

/*-------------------------------------*/

/*Below is the midsection*/

.midsection{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.midsectionimgs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.midsectionimgs img{
    width: 150px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.midsecheader, .midsectionimg{
    text-align: center;
}

/*Below is the quote */

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: #E5E7EB;
    color: #1f2937;
    border-radius: 10px;
}

.quotecontent{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    margin: 0;
}

.quoteitself{
    font: italic 24px 'Roboto', sans-serif;
    max-width: 700px;
}

.quoteauthor{
    margin: 0;
    padding: 0;
    align-self: flex-end;
    font-size: 18px;
    font-weight: bolder;
}

/*Below is the signup thingy*/

.signupsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.signup{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background-color: #24A0ED;
    color: #F9FAF8;
    border-radius: 10px;
    width: 700px;
    flex-wrap: wrap;
}

.signupcontent{
    display: flex;
    flex-direction: column;
}

.signup button{
    border: 2px solid white;
}